@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');

/************************** VARIABLES ***************************/
:root {
    --primary-color: #222;
    --secondary-color: #72a2c4;
    --tertiary-color: #7a7a7a;
    --tertiary-color-on-dark: #b5b8ba;

    --light-color: white;
    --dark-lighter-color: #eee; 

    --header-color: #00101f;
    --nav-menu-color: #004080;

    --bg-color-primary: white;
    --bg-color-secondary: #e0dcdc;
    --bg-color-tertiary: #e9efff;

    --active-color: #a8b9ff;
    --link-color: #868fbc;
    --validate-color: #58af8b;

    --layout-width: 1130px;
    --submenu-transition-duration: 0.25s;
    --submenu-max-height: 500px;
}

/************************** BASE ***************************/
/* Global */
body, body * {
    box-sizing: border-box;
}
body {
    font-family: "Pontano", sans-serif;
    letter-spacing: 0.01em;
    line-height: 1.3;
    margin: 0;
    background-color: var(--bg-color-primary);
    color: var(--primary-color);
}
header {
    position: relative;
    padding-top: 15px;
    color: var(--tertiary-color-on-dark);
    text-align: center;
    background-color: var(--header-color);
}
header h1 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
}
main {
    margin: 0 auto;
    max-width: var(--layout-width);
    min-height: 50vh;
    padding: 0 20px;
    width: 100%;
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    background: var(--dark-lighter-color);
}

/* Lists */
ul, ol {
    padding: 0;
    margin: 0;
}
ul li, ol li {
    list-style: none;
}

/* Media */
img, video {
    display: block;
    object-fit: cover;
    max-width: 100%;
    cursor: pointer;
    border-radius: 7px;
}
img {
    width: 300px;
    height: 300px;
    background: var(--dark-lighter-color);
}
video {
    width: 280px;
    height: 230px;
    background: var(--primary-color);
}
img:hover, video:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}
/* Titles */
h1, h2, h3 {
    margin: 0;
    font-weight: 600;
}
h1 {
    font-size: 22px;
    margin-bottom: 15px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Texts */
p {
    margin: 0;
}
.intro {
    margin-bottom: 20px;
}
.link {
    transition: transform 0.3s ease;
    transform: scale(1);
    color: var(--link-color);
}
.link:hover {
    transform: scale(1.05);
}

/************************** MENU ***************************/
/* Menu */
.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: var(--layout-width);
    list-style: none;
}
.menu > li {
    display: flex;
    align-items: center;
    position: inherit;
    width: 100%;
}
.menu > li > a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 13px 15px;
    width: 100%;
    color: var(--light-color);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.menu > li.open,
.menu > li:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.menu > li.open > .submenu {
    max-height: var(--submenu-max-height);
    opacity: 1;
    transform: translateY(0);
}
.menu > li > a.active {
    color: var(--active-color);
    background-color: rgba(0,0,0,0.2);
}
@media (min-width: 700px) {
    .menu > li {
        position: relative;
    }
    .menu > li:hover > .submenu {
        max-height: var(--submenu-max-height);
        opacity: 1;
        transform: translateY(0);
    }
}

/* Submenu */
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background-color: var(--header-color);
    list-style: none;
    padding: 5px 0 20px;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    max-width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    width: 100vh;
    min-width: 180px;
    transition:
        max-height var(--submenu-transition-duration) ease-out,
        opacity var(--submenu-transition-duration) ease-out,
        transform var(--submenu-transition-duration) ease-out;
}
.submenu li {
    list-style: none;
}
.submenu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.submenu li a:not(.active):hover {
    color: var(--active-color);
    transform: scale(1.03);
    transition: transform 0.2s;
}
.submenu li a.active {
    color: var(--active-color);
    font-weight: bold;
    transform: none;
    transition: none;
}
@media (min-width: 700px) {
    .submenu {
        width: 100%;
    }
}
/* Submenu close button */
.submenu-close-button {
    display: none;
    position: absolute;
    right: 10px;
    top: 110%;
    z-index: 10;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background: none;
    border: none;
}
.submenu-close-button:hover {
    cursor: pointer;
}
.submenu-close-button.visible {
    display: inline-block;
}
@media (min-width: 700px) {
    .submenu-close-button,
    .submenu-close-button.visible {
        display: none;
    }
}

/************************** LAYOUT ***************************/
/* Sticky nav */
#main-nav {
    background-color: var(--nav-menu-color);
    position: relative;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#main-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* Buttons */
.button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 7px;
    background: none;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform: scale(1);
}
.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.button-middle, .button-small {
    color: white;
    background: var(--nav-menu-color);
}
.button-middle {
    font-size: 16px;
    padding: 10px 20px;
}
.button-small {
    font-size: 13px;
    padding: 5px 7px;
}
.button-icon {
    font-size: 15px;
    padding: 3px 7px;
    width: 35px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: rgb(43, 43, 43);
    background-color: rgb(200, 200, 200);
}
.button-expand-mobile {
    padding: 0;
    color: white;
    background: #004080;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}
.button-return-to-top {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    z-index: 100;
    font-size: 20px;
    position: fixed;
    bottom: 4vh;
    right: 4vw;
    border-radius: 50%;
    border: 2px solid var(--tertiary-color);
    background: var(--bg-color-primary);
    transition: opacity 1s ease;
}
.button-download {
    margin-top: 15px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modal-content-wrapper {
    height: 100%;
    padding: 20px;
}
.modal-content {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    height: 100%;
    object-fit: contain;
    cursor: default;
    transition: inherit;
}
.modal-content:hover {
    cursor: default;
    transition: none;
    transform: none;
}
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/* Table */
table .label {
    text-align: right;
    padding-right: 10px;
}
table .value {
    font-weight: 600;
}

/* CONTAINERS */
/* Double-section  */
.double-section-wrapper {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.double-section-wrapper .content-block  {
    margin: 0;
}
@media (min-width: 700px) {
    .double-section-wrapper {
        flex-direction: row;
    }
    .double-section-wrapper .content-block {
        flex: 2 1 0;
    }
    .double-section-wrapper .list-block {
        flex: 1 1 0;
        max-width: 360px;
    }
}
/* Content-block  */
.content-block {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background: var(--bg-color-primary);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.content-block-title {
    color: var(--secondary-color);
}

/************************** PAGES ***************************/
/* 1. HOME PAGE */
/* Main */
.main-photo {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media (min-width: 650px) {
    .main-photo {
        height: 400px;
    }
}

/* Plan */
.plan-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.plan-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
@media (min-width: 650px) {
    .plan-block {
        flex-direction: row;
    }
    .plan-block img {
        max-width: 30%;
        height: 240px;
        padding: 15px;
    }
}

/* Simulation */
#simulations .home-video-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    background: transparent;
}
#simulations .home-video-wrapper video {
    width: 100%;
    height: auto;
    min-height: 300px;
}
#simulations .home-video-wrapper .video-thumb {
    margin-top: 15px;
}
#simulations .home-video-wrapper .video-thumb:first-child {
    margin-top: 0;
}
#simulations .home-video-wrapper .video-thumb p {
    margin-bottom: 10px;
    font-weight: 600;
    color: gray;
}
@media (min-width: 700px) {
    #simulations .home-video-wrapper {
        flex-direction: row;
        max-width: none;
    }
    #simulations .home-video-wrapper .video-thumb {
        margin-top: 0;
    }
    #simulations .home-video-wrapper video {
        width: 250px;
        height: 200px;
        min-height: auto;
    }
}
@media (min-width: 950px) {
    #simulations .home-video-wrapper video {
        width: 400px;
        height: 300px;
    }
}

/* 2. ROOMS PAGES */
/* breadcrumb */
.breadcrumb {
    font-size: 19px;
    color: gray;
    margin: 15px 0;
}

/* Project-wrapper */
.project-wrapper {
    padding: 25px 15px;
    margin-top: 20px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    background: var(--bg-color-secondary);
}
.project-wrapper.collapsed .project-wrapper-title {
    margin: 0;
}
.project-wrapper.collapsed .double-section-wrapper {
    display: none;
}
.project-wrapper-title {
    margin-bottom: 15px;
    font-size: 23px;
}
.project-wrapper .button-accordion {
    position: absolute;
    top: 20px;
    right: 15px;
}
.project-wrapper.collapsed .button-accordion {
  transform-origin: center;
  animation: breathe-btn 1s ease-in-out infinite;
}
@keyframes breathe-btn {
  0%, 100% {
    transform: rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.15);
  }
}

/* Media-wrapper */
.media-wrapper {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #d8d8d8;
}
.media-wrapper:first-child {
    border: none;
    padding-top: 0;
}
.video-wrapper {
    background: var(--bg-color-tertiary);
    padding: 20px;
    border-radius: 7px;
    border: none;
}
.media-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.media-block-title {
    width: 100%;
}
.media-block div img {
    width: 100%;
    height: 300px;
}
.media-block div video {
    width: 100%;
    height: 260px;
}
.media-block p {
    color: gray;
    font-size: 14px;
    margin: 5px 0;
}
.video-thumb {
    position: relative;
}
.video-thumb::after {
  content: "\f04b";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
   z-index: 5;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  color: #fff;
  pointer-events: none;
}
@media (min-width: 680px) {
    .media-block {
        flex-direction: row;
        justify-content: space-between;
        gap: 45px;
    }
    .media-block div img {
        width: 190px;
        height: 150px;
    }
    .media-block div video {
        width: 190px;
        height: 130px;
    }
}
@media (min-width: 700px) {
    .media-block {
        background: url("../images/arrow.svg") center center / 20px 20px no-repeat;
    }
}
@media (min-width: 900px) {
    .media-block div img {
        width: 300px;
        height: 220px;
    }
    .media-block div video {
        width: 300px;
        height: 190px;
    }
}

/* List-block */
.list-block {
    padding: 0;
    margin: 0;
    background: transparent;
    box-shadow: none;
}
.list-block.in-column {
    flex-direction: column;
}
.list-block ul {
    counter-reset: list-counter;
}
.list-block h3 {
    margin-bottom: 5px;
}
.list-block-line {
    counter-increment: list-counter;
    position: relative;
    padding: 10px 0 10px 23px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d8d8d8;
}
.list-block-line::before {
    content: counter(list-counter) ".";
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: bold;
}
.list-block-line:first-child {
    border-top: none;
    padding-top: 0;
}
.list-block-line:first-child::before {
    top: 0;
}
.list-block.in-column .list-block-line {
    flex-direction: column;
}
.list-block-line ul li {
    font-size: 16px;
    list-style: disc;
    margin-left: 25px;
}
.list-block-top {
    display: flex;
    justify-content: space-between;
}
.list-block-top-left {
    display: flex;
    flex-direction: column;
}
.list-block-top .content-block-title {
    margin-bottom: 10px;
}
.list-block-text {
    width: 100%;
    padding-right: 15px;
    font-size: 14px;
}
.list-block-line.madeByUs {
    color: var(--validate-color);
}
.list-block-line.madeByUs::before {
    color: var(--secondary-color);
}
.list-block-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.list-block .button-expand-mobile {
    position: fixed;
    top: 40vh;
    right: 5vw;
    transform: scale(2.7);
    transition: opacity 1s ease;
}
.list-block .button-expand-mobile .open-icn {
    display: block;
}
.list-block .button-expand-mobile .close-icn {
    display: none;
}
.project-wrapper:not(.collapsed) .list-block ul {
    overflow-y: auto;
    max-height: 75vh;
    padding-right: 15px;
}
.project-wrapper:not(.collapsed) .list-block .content-block-title,
.project-wrapper:not(.collapsed) .list-block ul {
    opacity: 0;
    height: 0;
    transition: opacity 1s ease;
}
.project-wrapper:not(.collapsed) .list-block .list-block-top {
    height: 0;
}
/* List-block : Expanded */
.project-wrapper:not(.collapsed) .list-block.expanded {
    position: fixed;
    z-index: 200;
    top: 10vh;
    width: 95vw;
    left: 20px;
    max-width: 93%;
    padding: 20px;
    background: var(--bg-color-primary);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.project-wrapper:not(.collapsed) .list-block.expanded .button-expand-mobile {
    position: inherit;
    top: inherit;
    right: inherit;
    transform: scale(1);
}
.project-wrapper:not(.collapsed) .list-block.expanded .button-expand-mobile .open-icn {
    display: none;
}
.project-wrapper:not(.collapsed) .list-block.expanded .button-expand-mobile .close-icn {
    display: block;
}
.project-wrapper:not(.collapsed) .list-block.expanded .list-block-top,
.project-wrapper:not(.collapsed) .list-block.expanded .content-block-title,
.project-wrapper:not(.collapsed) .list-block.expanded ul {
    opacity: 1;
    height: auto;
}
@media (min-width: 680px) {
    .project-wrapper:not(.collapsed) .list-block .list-block-top,
    .project-wrapper:not(.collapsed) .list-block .content-block-title,
    .project-wrapper:not(.collapsed) .content-block.list-block ul {
        opacity: 1;
        height: auto;
        overflow-y: visible;
    }
    .project-wrapper:not(.collapsed) .list-block,
    .project-wrapper:not(.collapsed) .list-block.expanded {
        position: inherit;
        left: inherit;
        top: inherit;
        z-index: 1;
        width: 100%;
        max-width: 100%;
        padding: 20px;
        background: var(--bg-color-primary);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .project-wrapper:not(.collapsed) .list-block ul {
        overflow-y: auto;
        max-height: inherit;
        padding-right: 0;
    }
    .project-wrapper:not(.collapsed) .list-block .button-icon {
        display: none;
    }
}

/* Legend */
legend.madeByUs {
    display: none;
    font-size: 12px;
    margin-bottom: 15px;
    color: rgb(176, 176, 176);
}
legend.madeByUs::before {
    content:"";
    display: inline-flex;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background: var(--validate-color);
}
.list-block.expanded legend.madeByUs {
    display: block;
}
@media (min-width: 700px) {
    legend.madeByUs {
        display: block;
    }
}

/* Equipments-list */
.equipments-list {
    display: none;
}
.equipment-block {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}
.equipment-block .list-block-line {
    padding: 10px 5px;
}
.equipment-block .list-block-line::before {
    content: '';
}
.equipment-block .list-block-btn {
    width: 140px;
}
