/* Variables */
:root {
    --primary-color: #00274d;
    --hover-color: #ccd5fb;
    --link-color: #8d90ef;

    --submenu-transition-duration: 0.25s;
    --submenu-max-height: 500px;
}

/*******************/
/* Layout */
body, body * {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f6f6;
    color: #222;
}
header {
    color: white;
    text-align: center;
    background-color: var(--primary-color);
}
main {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
    width: 100%;
}
footer {
    background: #eee;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

/* Sticky nav */
#main-nav {
    background-color: #004080;
    position: relative;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#main-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    list-style: none;
}
.menu > li {
    display: flex;
    align-items: center;
    position: inherit;
    width: 100%;
}
@media (min-width: 700px) {
    .menu > li {
        position: relative;
    }
}
.menu > li > a {
    display: block;
    font-size: 18px;
    padding: 13px 15px;
    width: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* Submenu */
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background-color: var(--primary-color);
    list-style: none;
    padding: 5px 0 20px;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    max-width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    width: 100vh;
    min-width: 180px;
    transition:
        max-height var(--submenu-transition-duration) ease-out,
        opacity var(--submenu-transition-duration) ease-out,
        transform var(--submenu-transition-duration) ease-out;
}
@media (min-width: 700px) {
    .submenu {
        width: 100%;
    }
}
.menu > li.open,
.menu > li:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.menu > li.open > .submenu {
    max-height: var(--submenu-max-height);
    opacity: 1;
    transform: translateY(0);
}
@media (min-width: 700px) {
    .menu > li:hover > .submenu {
        max-height: var(--submenu-max-height);
        opacity: 1;
        transform: translateY(0);
    }
}
.menu > li > a.active {
    font-weight: bold;
    color: var(--hover-color);
}
.submenu li {
    list-style: none;
}
.submenu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.submenu li a:not(.active):hover {
    color: var(--hover-color);
    transform: scale(1.03);
    transition: transform 0.2s;
}
.submenu li a.active {
    color: var(--hover-color);
    font-weight: bold;
    transform: none;
    transition: none;
}
/* Submenu close button */
.submenu-close-button {
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    z-index: 10;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background: none;
    border: none;
}
.submenu-close-button:hover {
    cursor: pointer;
}
.submenu-close-button.visible {
    display: inline-block;
}
@media (min-width: 700px) {
    .submenu-close-button,
    .submenu-close-button.visible {
        display: none;
    }
}

/* Titles */
h1, h2, h3 {
    margin: 0;
}
h1 {
    padding: 15px 0;
    font-size: 22px;
}
h2, h3 {
    margin-bottom: 20px;
}
.sub-title-block {
    padding: 10px 20px;
    background: #e0dcdc;
}
.sub-title-block h2 {
    margin: 0;
}

/* Texts */
p {
    margin: 0;
}
.intro {
    margin-bottom: 20px;
}
.standard-link {
    color: var(--link-color);
}

/* Table */
table .label {
    text-align: right;
    padding-right: 10px;
}
table .value {
    font-weight: bold;
}

/* Containers */
.section-box {
    border-radius: 10px;
    margin: 20px auto;
}
.content-block,
.text-list-block {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 700px) {
    .photos-block {
        background: url("../images/arrow.svg") center center / 20px 20px no-repeat;
    }
}
.double-section-box {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.double-section-box .section-box {
    margin: 0;
}
@media (min-width: 700px) {
    .double-section-box {
        flex-direction: row;
    }
    .double-section-box .content-block {
        flex: 2 1 0;
    }
    .double-section-box .text-list-block {
        flex: 1 1 0;
        max-width: 330px;
    }
}

/* Lists */
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
.content-block ul li,
.text-list-block ul li {
    width: 100%;
    border-top: 1px solid #d8d8d8;
}
.content-block ul li {
    padding: 20px 0;
}
.text-list-block ul li {
    padding: 5px 0;
}
.content-block ul li:first-child,
.text-list-block ul li:first-child {
    border: none;
    padding-top: 0;
}

/* Images */
img {
    display: block;
    object-fit: cover;
    width: 300px;
    height: 300px;
    max-width: 100%;
    cursor: pointer;
    border-radius: 7px;
}
img:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}

/* Buttons */
.button:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}
.download-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    height: 100%;
    object-fit: contain;
    cursor: default;
    transition: inherit;
}
.modal-content:hover {
    cursor: default;
    transition: none;
    transform: none;
}
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/*******************/
/* PAGES */
/* Home page */
.main-photo {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media (min-width: 600px) {
    .main-photo {
        height: 400px;
    }
}
.plan-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media (min-width: 600px) {
    .plan-block {
        flex-direction: row;
    }
}
.plan-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
@media (min-width: 600px) {
    .plan-block img {
        max-width: 30%;
        max-height: 280px;
    }
}


/* Rooms page */
.photos-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photos-block div img {
    width: 100%;
    height: 300px;
}
.photos-block p {
    color: gray;
    font-size: 14px;
    margin: 5px 0;
}
@media (min-width: 700px) {
    .photos-block {
        flex-direction: row;
        justify-content: space-between;
        gap: 45px;
    }
    .photos-block div img {
        width: 300px;
        height: 150px;
    }
}
@media (min-width: 900px) {
    .photos-block div img {
        height: 300px;
    }
}
