/* Variables */
:root {
    --primary-color: #222;
    --secondary-color: #72a2c4;

    --header-color: #00274d;
    --nav-menu-color: #004080;

    --bg-color-primary: white;
    --bg-color-secondary: #e0dcdc;
    --bg-color-tertiary: #e9efff;

    --active-color: #ccd5fb;
    --link-color: #8d90ef;

    --submenu-transition-duration: 0.25s;
    --submenu-max-height: 500px;
}

/*******************/
/* Layout */
body, body * {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f6f6;
    color: var(--primary-color);
}
header {
    position: relative;
    padding-top: 15px;
    color: white;
    text-align: center;
    background-color: var(--header-color);
}
main {
    margin: 0 auto;
    max-width: 1130px;
    min-height: 50vh;
    padding: 0 20px;
    width: 100%;
}
footer {
    background: #eee;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

/* Sticky nav */
#main-nav {
    background-color: var(--nav-menu-color);
    position: relative;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#main-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    list-style: none;
}
.menu > li {
    display: flex;
    align-items: center;
    position: inherit;
    width: 100%;
}
@media (min-width: 700px) {
    .menu > li {
        position: relative;
    }
}
.menu > li > a {
    display: block;
    font-size: 18px;
    padding: 13px 15px;
    width: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* Submenu */
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background-color: var(--header-color);
    list-style: none;
    padding: 5px 0 20px;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    max-width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    width: 100vh;
    min-width: 180px;
    transition:
        max-height var(--submenu-transition-duration) ease-out,
        opacity var(--submenu-transition-duration) ease-out,
        transform var(--submenu-transition-duration) ease-out;
}
@media (min-width: 700px) {
    .submenu {
        width: 100%;
    }
}
.menu > li.open,
.menu > li:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.menu > li.open > .submenu {
    max-height: var(--submenu-max-height);
    opacity: 1;
    transform: translateY(0);
}
@media (min-width: 700px) {
    .menu > li:hover > .submenu {
        max-height: var(--submenu-max-height);
        opacity: 1;
        transform: translateY(0);
    }
}
.menu > li > a.active {
    font-weight: bold;
    color: var(--active-color);
    background-color: rgba(0,0,0,0.2);
}
.submenu li {
    list-style: none;
}
.submenu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.submenu li a:not(.active):hover {
    color: var(--active-color);
    transform: scale(1.03);
    transition: transform 0.2s;
}
.submenu li a.active {
    color: var(--active-color);
    font-weight: bold;
    transform: none;
    transition: none;
}
/* Submenu close button */
.submenu-close-button {
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    z-index: 10;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background: none;
    border: none;
}
.submenu-close-button:hover {
    cursor: pointer;
}
.submenu-close-button.visible {
    display: inline-block;
}
@media (min-width: 700px) {
    .submenu-close-button,
    .submenu-close-button.visible {
        display: none;
    }
}

/* Titles */
h1, h2, h3 {
    margin: 0;
}
h1 {
    font-size: 22px;
    margin-bottom: 15px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Texts */
p {
    margin: 0;
}
.intro {
    margin-bottom: 20px;
}
.link {
    transition: transform 0.3s ease;
    transform: scale(1);
    color: var(--link-color);
}
.link:hover {
    transform: scale(1.05);
}

/* Table */
table .label {
    text-align: right;
    padding-right: 10px;
}
table .value {
    font-weight: bold;
}

/* Containers */
.double-section-wrapper {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.double-section-wrapper .content-block  {
    margin: 0;
}
@media (min-width: 700px) {
    .double-section-wrapper {
        flex-direction: row;
    }
    .double-section-wrapper .content-block {
        flex: 2 1 0;
    }
    .double-section-wrapper .list-block {
        flex: 1 1 0;
        max-width: 360px;
    }
}

.content-block {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background: var(--bg-color-primary);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.content-block-title {
    color: var(--secondary-color);
}


/* Lists */
ul, ol {
    padding: 0;
    margin: 0;
}
ul li, ol li {
    list-style: none;
}

/* Media */
img, video {
    display: block;
    object-fit: cover;
    max-width: 100%;
    cursor: pointer;
    border-radius: 7px;
}
img {
    width: 300px;
    height: 300px; 
}
video {
    width: 280px;
    height: 230px;
    background: var(--primary-color);
}
img:hover, video:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}

/* Buttons */
.button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 7px;
    background: none;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform: scale(1);
}
.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.button-middle, .button-small {
    color: white;
    background: #0077cc;
}
.button-middle {
    font-size: 16px;
    padding: 10px 20px;
}
.button-small {
    font-size: 13px;
    padding: 5px 7px;
}
.button-icon {
    font-size: 15px;
    padding: 3px 7px;
    color: rgb(43, 43, 43);
    background-color: rgb(200, 200, 200);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modal-content-wrapper {
    height: 100%;
    padding: 20px;
}
.modal-content {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    height: 100%;
    object-fit: contain;
    cursor: default;
    transition: inherit;
}
.modal-content:hover {
    cursor: default;
    transition: none;
    transform: none;
}
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/*******************/
/* PAGES */
/* Home page */
.main-photo {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media (min-width: 600px) {
    .main-photo {
        height: 400px;
    }
}

.plan-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media (min-width: 600px) {
    .plan-block {
        flex-direction: row;
    }
}
.plan-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
@media (min-width: 600px) {
    .plan-block img {
        max-width: 30%;
        max-height: 280px;
    }
}


/* Rooms page */
.breadcrumb {
    font-size: 19px;
    color: gray;
    margin: 15px 0;
}

.project-wrapper {
    padding: 25px 15px;
    margin-top: 20px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    background: var(--bg-color-secondary);
}
.project-wrapper.collapsed .project-wrapper-title {
    margin: 0;
}
.project-wrapper.collapsed .double-section-wrapper {
    display: none;
}
.project-wrapper-title {
    margin-bottom: 15px;
    font-size: 19px;
}
.project-wrapper .button-accordion {
    position: absolute;
    top: 20px;
    right: 15px;
}
.project-wrapper.collapsed .button-accordion {
    transform: rotate(180deg);
}

.media-wrapper {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #d8d8d8;
}
.media-wrapper:first-child {
    border: none;
    padding-top: 0;
}
.video-wrapper {
    background: var(--bg-color-tertiary);
    padding: 20px;
    border-radius: 7px;
    border: none;
}

.media-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 700px) {
    .media-block {
        background: url("../images/arrow.svg") center center / 20px 20px no-repeat;
    }
}
.media-block-title {
    width: 100%;
}
.media-block div img {
    width: 100%;
    height: 300px;
}
.media-block div video {
    width: 100%;
    height: 230px;
}
.media-block p {
    color: gray;
    font-size: 14px;
    margin: 5px 0;
}
@media (min-width: 700px) {
    .media-block {
        flex-direction: row;
        justify-content: space-between;
        gap: 45px;
    }
    .media-block div img {
        width: 300px;
        height: 150px;
    }
    .media-block div video {
        width: 300px;
        height: 130px;
    }
}
@media (min-width: 900px) {
    .media-block div img {
        height: 300px;
    }
    .media-block div video {
        height: 230px;
    }
}

.list-block ul {
    counter-reset: list-counter;
}
.list-block-line {
    counter-increment: list-counter;
    position: relative;
    padding: 10px 0 10px 20px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d8d8d8;
}
.list-block-line::before {
    content: counter(list-counter) ".";
    position: absolute;
    left: 0;
    top: 10px;
    color: var(--secondary-color);
    font-weight: bold;
}
.list-block-line:first-child {
    border-top: none;
    padding-top: 0;
}
.list-block-line:first-child::before {
    top: 0;
}
.list-block-text {
    width: 100%;
    padding-right: 15px;
    font-size: 14px;
}
.list-block-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.equipments-list {
    display: none;
}
.equipment-block {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}
.equipment-block .list-block-line {
    padding: 10px 5px;
}
.equipment-block .list-block-line::before {
    content: '';
}
.equipment-block .list-block-btn {
    width: 130px;
}
